<div class="home-container">

  <main class="feed">

    <div style="">
      <div class="search-bar">
        <mat-icon>search</mat-icon>
        <input type="text" placeholder="Search posts..." />
      </div>

       <app-top-nav-filter></app-top-nav-filter> 

    </div>

    <div class="posts-list">
      @for (post of posts$ | async; track post.id) {
      <article class="card post-card" (click)="routeToPost(post.id)">
        <div class="post-header">
          <div class="post-author">
            @if (post.userName) {
            <div class="avatar-small gray">{{post.userName.slice(0,1).toUpperCase() || 'U'}}</div>
            }
            <div>
              <h4>{{ post.userName }}</h4>
            </div>
          </div>
        </div>
        <div class="post-content">
          <p>{{ post.text }}</p>
          @if (post.images?.length) {
          <div class="image-gallery" [class.multi]="post.images!.length > 1">
            @for (img of post.images | slice:0:2; track img; let i = $index) {
            <div class="img-wrapper">
              <img [src]="img" />
              @if (i === 1 && post.images!.length > 2) {
              <div class="overla">+{{ post.images!.length - 2 }}</div>
              }
            </div>
            }
          </div>
          }
        </div>
        <div class="post-actions">
          <button class="action-btn"><mat-icon>favorite_border</mat-icon> {{ post.likes?.length }}</button>
          <button class="action-btn"><mat-icon>chat_bubble_outline</mat-icon> {{ post.comments?.length }}</button>
          <div class="spacer"></div>
          <button class="action-btn" (click)="$event.stopPropagation(); openShareMenu(post)"><mat-icon>share</mat-icon></button>
        </div>
      </article>
      }
    </div>
  </main>

  <aside class="sidebar right">
    <aside class="mini-dashboard">
      <div class="user-header">
        <div class="avatar-small">JD</div>
        <div class="user-info">
          <span class="name">Jane Doe</span>
          <span class="label">Pro Member</span>
        </div>
      </div>

      <hr class="divider" />

      <div class="stats-grid">
        <div class="stat-item">
          <span class="stat-value">124</span>
          <span class="stat-label">Shares</span>
        </div>
        <div class="stat-item">
          <span class="stat-value">1.2k</span>
          <span class="stat-label">Viewers</span>
        </div>
        <div class="stat-item">
          <span class="stat-value">1.2k</span>
          <span class="stat-label">Viewers</span>
        </div>
      </div>

      <button class="btn-profile">View Profile</button>
    </aside>
  </aside>


</div>