<mat-sidenav-container class="dashboard-container">
  <mat-sidenav mode="side" opened class="sidenav left">
    @if (user$ | async; as user) {
      <div class="user-info">
        <div class="avatar">
          {{ user.first_name[0] }}
        </div>
        <div class="details">
          <p class="name">{{ user.first_name }} {{ user.last_name }}</p>
          <p class="role">Personal Account</p>
        </div>
      </div>
    }

    <mat-nav-list>
      <div class="list-label">ACCOUNT</div>
      <a mat-list-item routerLink="/dashboard/profile" routerLinkActive="active-link">
        <mat-icon matListItemIcon>person</mat-icon>
        <span matListItemTitle>My Profile</span>
      </a>
      <a mat-list-item routerLink="/dashboard/change-password" routerLinkActive="active-link">
        <mat-icon matListItemIcon>lock</mat-icon>
        <span matListItemTitle>Change Password</span>
      </a>

      <mat-divider></mat-divider>

      <div class="list-label">ACTIVITY</div>
      <a mat-list-item routerLink="/dashboard/posts" routerLinkActive="active-link">
        <mat-icon matListItemIcon>article</mat-icon>
        <span matListItemTitle>My Posts</span>
      </a>
      <a mat-list-item routerLink="/dashboard/notifications" routerLinkActive="active-link">
        <mat-icon matListItemIcon>notifications</mat-icon>
        <span matListItemTitle>Notifications</span>
      </a>
    </mat-nav-list>
  </mat-sidenav>

  <mat-sidenav-content class="main-content">
    <div class="content-wrapper">
      <router-outlet></router-outlet>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>
