<div class="rp-container">
  <mat-card class="rp-card">
    <mat-card-header>
      <mat-card-title>Reset Password</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      @if (error$ | async; as error) {
        <div class="error-alert">
          <mat-icon color="warn">error</mat-icon>
          <span>{{ error }}</span>
        </div>
      }

      <form [formGroup]="resetPasswordForm" (ngSubmit)="onSubmit()">
        <mat-form-field appearance="outline" class="full-width">
          <mat-label>New Password</mat-label>
          <input matInput type="password" formControlName="newPassword" />
          @if (resetPasswordForm.get('newPassword')?.hasError('required')) {
            <mat-error> Password is required </mat-error>
          }
          @if (resetPasswordForm.get('newPassword')?.hasError('minlength')) {
            <mat-error> Minimum 6 characters </mat-error>
          }
        </mat-form-field>

        <div class="actions">
          <button
            mat-flat-button
            color="primary"
            type="submit"
            [disabled]="resetPasswordForm.invalid || (isLoading$ | async)"
            class="full-width"
          >
            @if (!(isLoading$ | async)) {
              <span>Set New Password</span>
            }
            @if (isLoading$ | async) {
              <mat-spinner diameter="20" color="accent"></mat-spinner>
            }
          </button>
        </div>
      </form>
    </mat-card-content>
  </mat-card>
</div>
