<div class="rp-container">
  <mat-card class="rp-card">
    <mat-card-header>
      <mat-card-title>Reset Password</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <div *ngIf="error$ | async as error" class="error-alert">
        <mat-icon color="warn">error</mat-icon>
        <span>{{ error }}</span>
      </div>

      <form [formGroup]="resetPasswordForm" (ngSubmit)="onSubmit()">
        <mat-form-field appearance="outline" class="full-width">
          <mat-label>New Password</mat-label>
          <input matInput type="password" formControlName="newPassword" />
          <mat-error *ngIf="resetPasswordForm.get('newPassword')?.hasError('required')">
            Password is required
          </mat-error>
          <mat-error *ngIf="resetPasswordForm.get('newPassword')?.hasError('minlength')">
            Minimum 6 characters
          </mat-error>
        </mat-form-field>

        <div class="actions">
          <button
            mat-flat-button
            color="primary"
            type="submit"
            [disabled]="resetPasswordForm.invalid || (isLoading$ | async)"
            class="full-width"
          >
            <span *ngIf="!(isLoading$ | async)">Set New Password</span>
            <mat-spinner diameter="20" *ngIf="isLoading$ | async" color="accent"></mat-spinner>
          </button>
        </div>
      </form>
    </mat-card-content>
  </mat-card>
</div>
