<div class="share-sheet-container">
  <div class="sheet-handle"></div>

  <div class="version-list">
    <p class="section-label">Select text style</p>

    @let trends = (trends$ | async);

    <div class="text-card selected"  (click)="selectVersion(this.data.post.text)">

      <div class="card-content">
        <p class="preview-text">{{ this.data.post.text }}</p>

        <div class="trending-tags">
          @for (trnd of trends?.slice(0,4); track $index) {
          <small> {{ trnd.name }}</small>
          }
        </div>
      </div>
    </div>

    @for (version of (shareVersions$ | async); track $index) {
    <div class="text-card" [class.selected]="selectedPost === version.text" (click)="selectVersion(version.text)">

      <div class="card-content">
        <p class="preview-text">{{ version.text }}</p>

        <div class="trending-tags">
          @for (trnd of trends?.slice(0,4); track $index) {
          <small> {{ trnd.name }}</small>
          }
        </div>
      </div>
    </div>
    } 
    <!-- @empty {
    <div class="loading-state">
      <p>Generating more tones..</p>
    </div>
    } -->
  </div>

  @if(selectedPost){
  <div class="share-row">
    <div class="share-item" (click)="copyLink(shareVersions$)">
      <i class="fa-solid fa-link"></i>
      <span>Copy Link</span>
    </div>

    <div class="share-item" (click)="shareToWhatsApp(shareVersions$)">
      <i class="fa-brands fa-whatsapp"></i>
      <span>WhatsApp</span>
    </div>

    <div class="share-item" (click)="shareToX()">
      <i class="fa-brands fa-twitter"></i>
      <span>Twitter</span>
    </div>

    <div class="share-item" (click)="shareToFacebook(shareVersions$)">
      <i class="fa-brands fa-facebook"></i>
      <span>Facebook</span>
    </div>
  </div>

  }


  <button class="cancel-btn" (click)="close()">Cancel</button>
</div>