<div class="share-sheet-container">
  <div class="sheet-handle"></div>
 
  <div class="version-list">
  <p class="section-label">Select text style</p>

@let trends = (trends$ | async);

@for (version of (shareVersions$ | async); track $index) {
  <div class="text-card"
       
       (click)="selectVersion(version.text)">

    <div class="card-content">
      <p class="preview-text">{{ version.text }}</p>

      <div class="trending-tags">
        @for (trnd of trends?.slice(0,4); track $index) {
          <small> {{ trnd.name }}</small>
        }
      </div>
    </div>
  </div>
} @empty {
  <div class="loading-state">
    <p>Choose...</p>
  </div>
}

  
  



</div>

  <div class="share-row">
    <div class="share-item" (click)="copyLink()">
      <div class="icon-circle link-bg">
        <mat-icon>link</mat-icon>
      </div>
      <span>Copy Link</span>
    </div>

    <div class="share-item" (click)="shareToWhatsApp(shareVersions$)">
      <div class="icon-circle whatsapp-bg">
        <mat-icon>phone</mat-icon>
      </div>
      <span>WhatsApp</span>
    </div>

    <div class="share-item" (click)="shareToX(shareVersions$)">
      <div class="icon-circle twitter-bg">
        <mat-icon>owl</mat-icon>
      </div>
      <span>Twitter</span>
    </div>

    <div class="share-item" (click)="shareToFacebook(shareVersions$)">
      <div class="icon-circle facebook-bg">
        <mat-icon>facebook</mat-icon>
      </div>
      <span>Facebook</span>
    </div>

    <div class="share-item" (click)="shareToLinkedIn(shareVersions$)">
      <div class="icon-circle linkedin-bg">
        <mat-icon>link</mat-icon>
      </div>
      <span>LinkedIn</span>
    </div>

    <div class="share-item" (click)="shareToTelegram(shareVersions$)">
      <div class="icon-circle telegram-bg">
        <mat-icon>message</mat-icon>
      </div>
      <span>Telegram</span>
    </div>
  </div>

  <button class="cancel-btn" (click)="close()">Cancel</button>
</div>