<div class="fp-container">
  <mat-card class="fp-card">
    <mat-card-header>
      <mat-card-title>Forgot Password</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      @if (!emailSent) {
        <p class="description">
          Enter your email address and we'll send you a link to reset your password.
        </p>

        @if (error$ | async; as error) {
          <div class="error-alert">
            <mat-icon color="warn">error</mat-icon>
            <span>{{ error }}</span>
          </div>
        }

        <form [formGroup]="fpForm" (ngSubmit)="onSubmit()">
          <mat-form-field appearance="outline" class="full-width">
            <mat-label>Email</mat-label>
            <input matInput formControlName="email" placeholder="user@example.com" />

            @if (fpForm.get('email')?.hasError('required')) {
              <mat-error>Email is required</mat-error>
            }

            @if (fpForm.get('email')?.hasError('email')) {
              <mat-error>Invalid email</mat-error>
            }
          </mat-form-field>

          <button
            mat-flat-button
            color="primary"
            type="submit"
            [disabled]="fpForm.invalid || (isLoading$ | async)"
            class="full-width"
          >
            @if (!(isLoading$ | async)) {
              <span>Send Reset Link</span>
            }
            @if (isLoading$ | async) {
              <mat-spinner diameter="20" color="accent"></mat-spinner>
            }
          </button>
        </form>
      } @else {
        <div class="sucess-content">
          <mat-icon class="success-icon">check_circle</mat-icon>
          <h3>Link Sent!</h3>
          <p class="description">Check your inbox (or console) for the reset link.</p>
          <button mat-stroked-button color="primary" routerLink="/reset-password">
            Go to Reset Page
          </button>
        </div>
      }
    </mat-card-content>
    <mat-card-footer>
      <a routerLink="/login">Back to Login</a>
    </mat-card-footer>
  </mat-card>
</div>
