
  <div class="trending">
    <div class="trending__title">
      <i class="ti ti-trending-up" aria-hidden="true"></i>
      Trending ads
    </div>
 
    <div class="trending__item">
      <span class="trending__rank">1</span>
      <div class="trending__icon"><i class="ti ti-device-mobile" aria-hidden="true"></i></div>
      <div class="trending__info">
        <div class="trending__name">iPhone 16 Pro</div>
        <div class="trending__shares">2.4k shares</div>
      </div>
      <span class="trending__payout">$0.30</span>
    </div>
 
    <div class="trending__item">
      <span class="trending__rank">2</span>
      <div class="trending__icon"><i class="ti ti-shirt" aria-hidden="true"></i></div>
      <div class="trending__info">
        <div class="trending__name">Nike Air Max</div>
        <div class="trending__shares">1.1k shares</div>
      </div>
      <span class="trending__payout">$0.20</span>
    </div>
 
    <div class="trending__item">
      <span class="trending__rank">3</span>
      <div class="trending__icon"><i class="ti ti-pizza" aria-hidden="true"></i></div>
      <div class="trending__info">
        <div class="trending__name">Domino's 50% off</div>
        <div class="trending__shares">890 shares</div>
      </div>
      <span class="trending__payout">$0.15</span>
    </div>
 
    <div class="trending__item">
      <span class="trending__rank">4</span>
      <div class="trending__icon"><i class="ti ti-car" aria-hidden="true"></i></div>
      <div class="trending__info">
        <div class="trending__name">Toyota Camry 2025</div>
        <div class="trending__shares">640 shares</div>
      </div>
      <span class="trending__payout">$0.50</span>
    </div>
 
    <div class="trending__item">
      <span class="trending__rank">5</span>
      <div class="trending__icon"><i class="ti ti-headphones" aria-hidden="true"></i></div>
      <div class="trending__info">
        <div class="trending__name">Sony WH-1000XM6</div>
        <div class="trending__shares">510 shares</div>
      </div>
      <span class="trending__payout">$0.25</span>
    </div>
 
    <div class="trending__footer">
      <a class="trending__view-all" href="#">
        View all trending
        <i class="ti ti-arrow-right" aria-hidden="true"></i>
      </a>
    </div>
  </div>