<nav class="side-nav-card">
  <ul class="nav-list">
    <li class="nav-item active" routerLink="/home" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}"
      (click)="routeTo('home')">
      <span class="icon">🏠</span>
      <span class="nav-label">Home</span>
    </li>
    <hr class="nav-divider" />
    <li class="nav-item" routerLink="/home/create-campaign" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
      <span class="icon">➕</span>
      <span class="nav-label">Create Campaign</span>
    </li>
    <li class="nav-item" routerLink="/home/view-campaign" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
      <span class="icon">🔍</span>
      <span class="nav-label">View Campaign</span>
    </li>
    <hr class="nav-divider" />
    <li class="nav-item" routerLink="/home/notifications" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
      <span class="icon">🔔</span>
      <span class="nav-label">Notifications</span>
      @if (unreadCount$ | async) {
      <span class="badge">{{ unreadCount$ | async }}</span>
      }
    </li>
    <hr class="nav-divider" />
    <li class="nav-item" routerLink="/home/profile" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
      <span class="icon">👤</span>
      <span class="nav-label">Profile</span>
    </li>
    <li class="nav-item" routerLink="/home/shares" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
      <span class="icon">📊</span>
      <span class="nav-label">My Shares</span>
    </li>
    <li class="nav-item" routerLink="/home/transactions" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
      <span class="icon">💳</span>
      <span class="nav-label">Transactions</span>
    </li>
    <li class="nav-item" (click)="logout()" >
      <span class="icon">🚪</span>
      <span class="nav-label">Logout</span>
    </li>
  </ul>
</nav>