<nav class="side-nav-card">
  <ul class="nav-list">
    <li class="nav-item active" (click)="routeTo('home')">
      <span class="icon">🏠</span>
      <span class="nav-label">Home</span>
    </li>
    <hr class="nav-divider" />
    <li class="nav-item" (click)="routeTo('home/create-campaign')">
      <span class="icon">➕</span>
      <span class="nav-label">Create Campaign</span>
    </li>
    <li class="nav-item" (click)="routeTo('home/view-campaign')">
      <span class="icon">🔍</span>
      <span class="nav-label">veiw Campaign</span>
    </li>
    <hr class="nav-divider" />
    <li class="nav-item" (click)="routeTo('home/notifications')">
      <span class="icon">🔔</span>
      <span class="nav-label">Notifications</span>
      @if (unreadCount$ | async) {
        <span class="badge">{{ unreadCount$ | async }}</span>
      }
    </li>
    <!-- <li class="nav-item">
      <span class="icon">✉️</span>
      <span class="nav-label">Messages</span>
    </li> -->
    <hr class="nav-divider" />
    <li class="nav-item" (click)="routeTo('home/profile')">
      <span class="icon">👤</span>
      <span class="nav-label">Profile</span>
    </li>
    <!-- <li class="nav-item">
      <span class="icon">⚙️</span>
      <span class="nav-label">Settings</span>
    </li> -->
    <li class="nav-item" (click)="routeTo('home/shares')">
      <span class="icon">📊</span>
      <span class="nav-label">My Shares</span>
    </li>
    <li class="nav-item" (click)="routeTo('home/transactions')">
      <span class="icon">💳</span>
      <span class="nav-label">Transactions</span>
    </li>
  </ul>
</nav>
